* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

body {
  font-family: 'work Sans', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}


.spicial-title {
  color: #ebeced;
  font-size: 120px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
  max-width: 100%;
}

.spicial-title+p {
  color: #797979;
  font-size: 25px;
  text-align: center;
  margin: -35px 0 0 0;
  letter-spacing: 3px;
  max-width: 100%;
}

@media (max-width:767px) {
  .spicial-title {
    color: #ebeced;
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
  }
}

/*------------------------------------- Header styling -------------------------------------*/


.header {
  padding: 20px;
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  display: flex;
  justify-content: flex-end;
  width: 30px;
  flex-flow: row wrap;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 1.5px;
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition-duration: 0.3s;
}

.header .links .icon span:last-child {
  height: 2.5px;
}

.header .links ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0px;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 2;
  border: 0.5px solid var(--main-color);
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px solid #f6f6f6;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -20px;
  right: 5px;
  z-index: -1;
}

.header .links li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition-duration: 0.3s;
}

.header .links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .links li a:hover {
  padding-left: 25px;
}


/*------------------------------------- Landing styling -------------------------------------*/

.landing {
  background-image: url(../assets/mountain.webp);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing .intro-text {
  text-align: center;
  width: 500px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0px;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}


/*------------------------------------- Features styling -------------------------------------*/


.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}

.features>.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0px 20px;
}

.feat {
  text-align: center;
  color: var(--main-color);
  max-width: 100%;
}

.feat h3 {
  font-weight: 800;
  color: #333;
  font-size: 30px;
}

.feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}


/*------------------------------------- Services styling -------------------------------------*/

.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
  min-height: 500px;
}

.skills .skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.skill {
  display: flex;
}

.skill i {
  color: var(--main-color);
  flex-basis: 60px;
}

.skill .skill-data {
  flex: 1;
}